@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

.input {
  @apply w-full mb-3 px-4 py-3 rounded-lg bg-black/50 border border-gray-700 outline-none focus:ring-2 focus:ring-red-500;
}

.btn-primary {
  @apply w-full bg-red-600 py-3 rounded-lg font-semibold hover:bg-red-700 transition shadow-[0_0_20px_rgba(220,38,38,0.6)];
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease;
}